@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Rubik:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
    background-color: #262626;
}

.upperBanner {
    height: 2rem;
    background-color: #ebebeb;
    font-size: 1.1rem;
    justify-content: center;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 69%, rgba(38,38,32,1) 100%); 
}

.links {
    display: flex;
    justify-content: space-between;
    width: 25%;
    font-size: 1.4rem;
    text-transform: uppercase;
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFF;
}

.logo {
    font-family: 'Courgette', cursive;
    font-size: 3rem;
    color: #FFF;
}

.lowerBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionLinks {
    display: flex;
    justify-content: space-between;
}

